/* this is global area start */
/* ================================================== */
/* this is global section and create style by (*). */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    /* color: #001219; */
    /* color: #f6f6f6; */
    /* color: #b90504; */
    /* color: #ffc8dd; */
    /* color: #bde0fe; */
    /* color: #ffcb77; */
}
/* this is global area end */
/* ================================================== */

/* this is header section start */
/* ================================================== */
/* this is header section id and name is top */
#top{
    background-image: linear-gradient(to right,#7ff4f287,#5069806b),url(images/donation13.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.container{
    padding: 200px 80px 0px ;
}

.main{
    margin-top: 150px;
    color: #f6f6f6;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.main-p{
    margin: 20px  0px ;
font-size: 18px;
color: #f6f6f6;
line-height: 1.5;
}
.btn{
    padding: 12px 22px;
    background-color: #ff0000e6;
    color:#f6f6f6;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #f6f6f6;
}

/* this is header section end */
/* =========================================== */

/* this is second section start */
/* ================================================== */
/* section id and name is second */
#second{
    padding: 80px 50px;
    text-align: center;
}
.donate-today{
    font-size: 26px;
    font-weight: 700;
    color: #001219;
    margin-bottom: 20px;
}
.donate-today-p{
    font-size: 18px;
    font-weight: 500;
    color: #8d99ae;
    line-height: 1.5;
}
/* this is second section end */
/* =========================================== */

/* this is third section start */
/* ================================================== */
/* section id and name is third */

#third{
    color: #8d99ae;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 300px;
    letter-spacing: 1px;
}
.active{
    color: red;
    padding: 20px 12px;
    border: 2px solid red;
    background-color: #ffadadba;
}
/* third section end */
/* =========================================== */

/* this is fourth section start */
/* ================================================== */
/*  section id and name is fourth */

#fourth{
    text-align: center;
    padding-top: 80px;
}
.other-taka{
    color: #8d99ae;
    font-size: 26px;
    font-weight: 700;
}
/*  fourth section end */
/* =========================================== */

/* this is fifth section start */
/* ================================================== */
/*  section id and name is fifth */

#fifth{
    text-align: center;
    padding: 150px 100px 10px;
}
.plan{
    color: #001219;
    font-size: 26px;
    font-weight: 700;
}
.plan-p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #8d99ae;
    line-height: 1.5;
}
/* fifth section end */
/* =========================================== */

/* this is sixth section start */
/* ================================================== */
/*  section id and name is sixth */

#sixth{
    margin: 50px 50px;
}
.card-group{
    display: flex;
    justify-content: space-between;
}
.card-1{
    flex-basis: 33.3%;
    background-color: #ffc8dd ;
    padding: 20px 10px;
    box-shadow: 8px 5px 5px gray;
    border-radius: 20px;
}
.card-2{
    flex-basis: 33.3%;
    margin: 0px 20px;
    background-color: #bde0fe;
    padding: 20px 10px;
    box-shadow: 8px 5px 5px gray;
    border-radius: 20px;
}
.card-3{
    flex-basis: 33.3%;
    background-color: #ffcb77;
    padding: 20px 10px;
    box-shadow: 8px 5px 5px gray;
    border-radius: 20px;
}
.fa-solid{
    font-size: 30px;
    padding-bottom: 20px;
    color: #8d99ae;
}
.card-h3{
    font-size: 24px;
    padding-bottom: 10px;
    color: #001219;
    letter-spacing: 1px;
    font-weight: 700;
}
.card-p{
    font-size: 18px;
    padding-bottom: 30px;
    color: #8d99ae;
    line-height: 1.5;
    font-weight: 500;
}
/* sixth section end */
/* =========================================== */

/* this is seven section start */
/* ================================================== */
/*  section id and name is seven */

#seven{
    text-align: center;
    padding-top: 50px;
}
.our-work{
    font-size: 26px;
    color: #001219;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/* seven section end */
/* =========================================== */

/* this is eight section start */
/* ================================================== */
/* section id and name is eight */

#eight{
    text-align: center;
    padding: 50px 0px;
}
.img-6{
    flex-basis: 33.3%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #b90504;
    transition: all .3s ease-in-out;
    
}
.img-6:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 10px 5px gray;
}

/* eight section end */
/* =========================================== */

/* this is nine section start */
/* ================================================== */
/* section id and name is nine */

#nine{
    text-align: center;
    padding: 20px 150px;
}
.get{
    color: #001219;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
.get-p{
    font-size: 18px;
    padding-top: 20px;
    color: #8d99ae;
    line-height: 1.5;
    font-weight: 500;
}
/* nine section end */
/* =========================================== */

/* this is ten section start */
/* ================================================== */
/* ten section id and name is ten */

#ten{
    text-align: center;
    padding: 80px;
    margin: 60px 200px 50px;
    background-color: #fff6c8;
}
.int{
    padding: 12px 38px;
    background-color: #f6e0e8;
    font-size: 18px;
    border: none;
}
.bnn{
    padding: 12px 38px;
    background-color: #ff0000e6;
    font-size: 18px;
    border: none;
    color: #f6f6f6;
}
/* ten section end */
/* =========================================== */

/* this is footer section start */
/* ================================================== */
/* footer section id and name is footer */

#footer{
    padding: 50px 0px;
    background-color: #001219;
    color: #f6f6f6;
    margin-top: 50px;
    text-align: center;
}
.be{
    font-size: 24px;
    padding-bottom: 20px;
}
.copy-right{
    font-size: 18px;
}
/* footer section end */
/* =========================================== */